# dependencias
/node_modules

# next.js
/.next/
/out/

# producción
/build

# archivos locales
.env*.local
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
next-env.d.ts

# configuración local de Claude Code
/.claude/
